-r torch_requirements.txt
# hugging face
huggingface_hub
transformers==4.46.*
datasets==3.*.*
# training
peft==0.13.*
bitsandbytes==0.44.*
accelerate==1.0.*
loralib==0.1.*
flash-attn
deepspeed
trl==0.12.*
# dataset processing
nltk==3.9.1
pandas==2.2.*
# testing other models
openai
litellm
python-dotenv
# evaluation
nervaluate
matplotlib
jsonpickle
scipy
scikit-learn
wandb
# usage
flask